/*rest*/
body{line-height:1.4;color:#38383c;font-family:'Microsoft YaHei','SimSun',arial;font-size:12px;background:white}
input,textarea,select,button{font-size:100%;font-family:inherit;color:inherit;}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form,dd,dl{margin:0}
h4,h5,h6{font-size:1em}
ul,ol{padding-left:0;list-style-type:none}
a img{border:0}
img{border:0}
a{color:#38383c;text-decoration:none}
a:hover{color:#05376c;text-decoration:none}
table{border-collapse:collapse;border-spacing:0}
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
/*public*/
.tri{height:0;width:0;display:inline-block;cursor:pointer;overflow:hidden;font-size:0;margin-left:1px;-webkit-transition:-webkit-transform .2s ease-in;-webkit-backface-visibility:hidden;border-style:solid;border-color:transparent;border-width:5px}
.trib{border-top-color:#a0a0a0}/*下三角(body)*/
/*icon script*/
.header .logo a,.form .check,.form .radio i,.CRselectBox .tri-v{background-image:url(../images/icon.png);background-repeat:no-repeat;display:inline-block}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.header .logo a{letter-spacing:-1em;overflow:hidden}
.header .logo a:first-letter{margin-left:-20em}/*隐藏文本*/
.talk-list .name{white-space:nowrap;text-overflow:ellipsis;overflow:hidden}/*超出显点*/
.form .load,.form .enter,.nav a,.nav li.back{-webkit-transition:all .3s;transition:all .3s}
/*Form*/
.form .enter{width: 96px;background-color: #f9b13e;border-radius: 10px;text-align: center;line-height: 32px;font-size: 16px;}
.form .enter:hover{background-color: #EAA73B;}
.form .disabled{color:#acacac!important; border-color:#acacac!important; text-shadow:1px 1px #fff!important; outline:0!important; cursor:default!important; pointer-events:none;}
.form .disabled:hover{text-decoration:none!important;}
.form .load{font-size: 18px;height: 48px;text-align: center;border-radius: 10px;width: 494px;border:none;cursor: pointer;clear: both;background-color: #f3f3f3}
.form .load img{width: 22px;vertical-align: -3px;margin-right: 10px;}
.form .loading{background-image:url(../images/loading.gif);background-repeat:no-repeat;background-position:163px center }
.form .load:hover{background-color: #fff}
.form .cbox{position: relative;vertical-align: -3px;}
.form .check{width: 20px;height: 20px;background-position: -4px -4px;margin-right: 8px;vertical-align: -4px;}
.form .checked{position: absolute;left: 2px;top: -1px;color: #909090;display: none;}
.form .btn-a,.form .btn-b{font-size: 18px;color: #4a4a4d;background-color: #faa832;border:none;}
.form .btn-a{height: 46px;border-radius: 46px;}
.form .btn-b{height: 34px;border-radius: 34px;}
.form .text-b{height: 46px;*line-height: 46px;padding: 0;border-radius: 46px;border:none;text-indent: 5.6em;}
.form .wta{width: 300px;}
.form .wtb{width: 220px;}
.form .label-a{position: absolute;height: 30px;padding-right: 10px;border-right: 1px solid #f3ecec;top:12px;left:20px;}
/*lib*/
.dn{display:none;}.mr5{margin-right: 5px;}.tr{text-align: right;}.mt3{margin-top: 3px;}.mb40{margin-bottom: 40px;}.tc{text-align: center;}.g6{color: #666;}.g9{color:#999}.mt20{margin-top:20px; }.fa{font-family: Arial;}.mb20{margin-bottom: 20px;}.mb10{margin-bottom: 10px;}.w280{width: 280px;}.auto{margin-left:auto;margin-right: auto;}.orenge{color: #fe713f}.l{float: left;}.r{float: right;}.f16{font-size: 16px}.f14{font-size: 14px}.mr15{margin-right: 15px;}.mr20{margin-right: 20px;}.lh34{line-height: 34px;}.ml5{margin-left: 5px;}.pt14{padding-top: 15px;}.ml20{margin-left: 20px;}.pt10{padding-top: 10px;}.mr50{margin-right: 50px;}.red{color: #e31e48}.f18{font-size: 18px}
.fix:after {display:table;content:'';clear:both}/*清除浮动*/

/*通顶*/
.header{height:120px;background-color: #37383d;color:#eaeaea}
.header a{color:#eaeaea}
.header .logo{float: left;margin: 40px 54px 0 54px}
.header .logo a{width: 120px;height: 44px;background-position: -170px -13px}
.header .search{width: 286px;height: 40px;border-radius: 40px;background-color: #fff;position: relative;box-shadow:0 0 3px #37383d inset ;float: left;margin-top: 43px;margin-right: 104px;}
.header .search .text{height: 40px;background: transparent;border:none;padding-top: 0;padding-bottom: 0;text-indent:20px;width: 242px;color:#38383c;font-size: 14px;line-height: 40px \9;}
.header .search:after{content: "";height: 22px;position: absolute;border-left:1px solid #9f9fa1;top:10px;left:242px;}
.header .search .submit{background:none;border:none;color: #616161;font-size: 28px;
position: absolute;padding: 0;height: 40px;width: 44px;letter-spacing: 7px;line-height: 46px;cursor: pointer;}
.nav{float: left;margin-top: 44px;margin-right: 60px;}
.nav ul{position:relative;}
.nav ul:hover li.back{display: block;}
.nav li{float: left;width: 120px;height: 73px;}
.nav li:hover a,.nav .current a{color: #ff9600}
.nav a{font-size:20px;width: 120px;text-shadow: 0 0;display: inline-block;height: inherit;position:relative; z-index:3;text-indent: 25px;}
.nav li.back{border-bottom:3px solid #ff9600; position:absolute; z-index:2;display: none;}
.header .user{font-size: 20px;float: left;margin-top:45px;width: 216px;}
.header .user .admin:after{content: "";height:18px;border-left:1px solid #8f8f8f;display: inline-block;
margin: 0 3px 0 6px;
vertical-align: -2px}
.header .news{
margin-left: 8px;position: absolute;margin-top: -21px;}
.header .news i{font-size:50px;}
.header .news .dunk{height: 22px;position: absolute;border-radius: 22px;min-width: 16px;background-color: #e31e48;font-size: 14px;line-height: 22px;padding-left: 3px;
padding-right: 3px;
text-align: center;top: 10px;
left: 36px;}
.content{background:url(../images/page_bg.png) #ecebe7 no-repeat top center;}
.main,.header .head{width: 1254px;margin-left: auto;margin-right: auto;}
.main{background-color:rgba(237, 236, 232, 0.82);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1edece8', endColorstr='#d1edece8',GradientType=0 );}
/*我发起的话题*/
.top-memory .tab-menu{line-height: 50px;background-color:#f5f5f5;font-size: 20px;border-radius:10px;width:500px;margin-left: auto;margin-right:auto;overflow: hidden;margin-bottom: 60px;}
.top-memory .tab-menu li{float:left;width: 50%;text-align: center;}
.top-memory .tab-menu a{display: block;text-shadow: 0px 0px;}
.top-memory .tab-menu .selected{background-color: #f9b943}
.top-memory{padding-top:50px;}
.talk-list{padding: 0 116px 100px;}
.talk-list .column{width: 494px;}
.talk-list .tp{border-radius: 10px;background-color: #f3f3f3;font-size: 14px;margin-bottom: 30px;}
.talk-list .hd{padding-left:20px;padding-right:20px;}
.talk-list .launch .hd{line-height: 46px;height:52px;}
.talk-list .pate .hd{height:64px;position: relative;}
.talk-list .name{font-size: 18px;text-shadow: 0px 0px;}
.talk-list .pate .name{line-height: 66px;}
.talk-list .bd{border:1px dashed #b6b6b6;border-radius:10px;padding: 10px 16px 10px 8px;margin-left:10px;margin-right: 10px;}
.talk-list .user-pic{width:41px;height: 41px;display: inline-block;border-radius: 42px;overflow: hidden;border:1px solid #d2d2d4;position: absolute;}
.talk-list .pate .user-pic{top:10px;}
.talk-list .user-pic img{width: 100%;height: 100%}
.talk-list .txt{color:#59595a;line-height: 1.7em;}
.talk-list .launch .txt{margin-left:55px;margin-bottom: 15px;}
.talk-list .pate .txt{margin-left:5px;}
.talk-list .last-time{text-align: right;}
.talk-list .last-time time,.talk-list .bd .area,.talk-list .bd .hour{color: #df1d47}
.talk-list .bd .area{display: inline-block;width: 90px;margin-bottom: 5px;}
.talk-list .bd .hour{font-weight: normal;}
.talk-list .operating{padding:15px 20px;position: relative;}

.talk-list .enter{position: absolute;right:20px;}
.talk-list .launch .enter{top:8px;}
.talk-list .pate .enter{bottom:10px;}

.talk-list .launch .load{display: block;margin-left: auto;margin-right: auto;}
.talk-list .odd{float: left;margin-right: 100px;}
.talk-list .even{float:right;margin-left: 100px;}
.talk-list .pate .name{margin-left: 45px;margin-right: 104px;}
.talk-list .pate .date{position: absolute;top:-3px;z-index: 1;white-space: nowrap;background: url(../images/dot.png) no-repeat}
.talk-list .pate .odd .date{left: 505px;padding-left: 20px;background-position: 0 3px}
.talk-list .pate .even .date{right: 505px;text-align: right;padding-right: 20px;background-position:right 3px;}
.talk-list .pate .date time{font-size: 18px}
.talk-list .pate .tp{padding-bottom: 10px;position: relative;}
.talk-list .pate .date .man{font-size: 16px;}
.talk-list .pate{position: relative;padding-bottom: 105px;}
.talk-list .pate:after{content:"";width:2px;position: absolute;top:0;height: 100%;left:510px;background: #777777;
background: -moz-linear-gradient(top,  #777777 0%, #e4e4e4 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777777), color-stop(100%,#e4e4e4));
background: -webkit-linear-gradient(top,  #777777 0%,#e4e4e4 100%);
background: -o-linear-gradient(top,  #777777 0%,#e4e4e4 100%);
background: -ms-linear-gradient(top,  #777777 0%,#e4e4e4 100%);
background: linear-gradient(to bottom,  #777777 0%,#e4e4e4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#e4e4e4',GradientType=0 );
}
.talk-list .pate .bt{background: url(../images/dot_last.png) no-repeat right 0;width: 517px;z-index: 1;position: relative}
.talk-list .pate .last-1 .date{background-image: url(../images/dot_last_1.png)}
.talk-list .pate .last-2 .date{background-image: url(../images/dot_last_2.png)}
.talk-list .pate .last-3 .date{background-image: url(../images/dot_last_3.png)}
.talk-list .pate .last-4 .date{background-image: url(../images/dot_last_4.png)}
.talk-list .pate .last-5 .date{background-image: url(../images/dot_last_5.png)}
/*登录*/
.login{background: url(../images/login_bg.jpg) no-repeat center;height: 613px;margin-top: 65px;box-shadow: 0 0 65px rgba(0, 0, 0, 0.36);margin-bottom: 65px;position: relative;}
.dialog-box{background-color: rgba(250, 250, 250, 0.94);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0fafafa', endColorstr='#f0fafafa',GradientType=0 );position: absolute;left:0;right: 0;margin: auto;top:112px;border-radius: 10px;padding: 30px 0 37px}
.dialog-box .close{background-color:rgba(60, 60, 60, 0.5);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#803c3c3c', endColorstr='#803c3c3c',GradientType=0 );color: #fdfdfd;font-size:40px;position: absolute;top:0;right:0;width: 64px;height: 50px;border-bottom-left-radius:10px;text-align: center;line-height: 50px}
.dialog-box h3{font-size: 18px;font-weight: normal;text-shadow: 0 0;}
.login-1{width: 420px;}
.login-1 h3{margin-left: 44px;}
.quick-login{font-size: 18px;text-align: justify;width: 310px;margin: 45px auto 47px}
.quick-login li{display: inline-block;text-align: center;width: 82px;}
.quick-login  a img{width: 82px;height: 82px;margin-bottom: 8px;}
.quick-login .justify-fix{height:0; padding:0; overflow:hidden}
.login-2{padding-left: 70px;width:340px;float:left}
.login-2 .item{position: relative;font-size: 16px;}
.login-2 .item-b{font-size: 14px;}
.login-2 .first{margin-bottom: 18px;}
.login-2 h3{margin-bottom:25px;margin-left:10px;}
.d2{width: 830px;}
.login-2 .item-b{margin-bottom: 35px;}
.login-2 .item-b .cbox{margin-left: 15px;position: absolute;}
.login-2 .item-b .a1{margin-left:200px;}
.a1{text-decoration: underline;}
.a1:hover{text-decoration: none}
.login-3,.login-4{padding-left: 45px;}
.login-3 .cont{background-color: #fff;width: 575px;height: 100px;border-radius: 5px;padding:5px 10px;text-align:justify;margin-right: 20px;	}
.login-3 h3,.login-4 h3{margin-bottom: 25px;}
.login-3 .interests{position: relative;margin-bottom: 35px;}
.login-3 .interests .placeholder{font-size: 14px;color: #9e9d9c;top: 5px;
position: absolute;
left: 10px;}
.form .dt{font-size: 16px;position: absolute;}
.form .dd{margin-left: 68px;font-size: 16px;}
.interests .tag{font-size: 14px;display: inline-block;border:1px solid #ed9821;line-height: 24px;cursor: default;color: #9e9d9c;padding:0 28px 0 10px;position: relative;margin-bottom:10px;}
.interests .tag .del{position: absolute;border:1px solid #949494;width: 14px;height: 14px;line-height: 14px;font-size: 10px;text-align: center;top:-1px;right:-1px;}
.interests .tag .del:hover{border-color:#ed9821;color: #ed9821}
.interests .tag .add{font-size: 16px;color: #ed9821;font-size:24px;font-family: 'SimSun';margin-right: 7px;vertical-align: -3px;margin-left: -5px;}
.tag-list{width: 600px;}
.tag-list .tag{padding-right: 14px;cursor: pointer;margin-right: 5px;}
.form .text-c{height: 34px;*line-height: 34px;border-radius:34px;border:none;text-indent:15px;}
.form .hove-code{font-size: 16px;margin-left: 5px;}
.login-4 .dt{margin-top: 6px;}
.login-4 .item{margin-bottom: 12px;}
.form .btn-d,.form .btn-e{height: 34px;border-radius: 34px;border:1px solid #ffbf63;font-size: 18px;background: transparent;}
.form .btn-e{border-color:#bcbcbc;}
.login-4 .opear{padding: 25px 0 0 86px;}
.login-4 .r{width: 320px;}
.login-4 .r .tip{border:1px solid #c6c6c6;border-radius:10px;display: inline-block;padding: 8px 5px;line-height: 1.7em;margin-bottom: 155px;font-size: 14px;}
.login-4 .pic-area{display: inline-block;width: 70px;height: 70px;border-radius: 70px;background-color: #fff;vertical-align: middle;overflow: hidden;margin-right: 30px;margin-left: 20px;}
.login-4 .dtt{margin-top: 24px;}
.form .radio i{width:14px;height: 14px;background-position: -37px -9px;margin-right: 8px;vertical-align: -2px;}
.form .checked-r i{background-position: -65px -9px;}
.CRselectBox{cursor:pointer;position: relative;border-radius:5px;background-color: #fff;}
.v-select{display:inline-block;vertical-align: -8px;}
.v-select .CRselectBox{display: inline-block;vertical-align: -6px;}
.CRselectBox .tri-v{position: absolute;width: 17px;height: 16px;background-position: -94px -9px;top: 5px;
right: 4px;}
.CRselectBoxHover{background-color:#FFFFFF;}
.CRselectBox a.CRselectValue {display:block;white-space:nowrap;	overflow:hidden; }
.v-select .CRselectBox a.CRselectValue{padding-left: 7px;padding-right: 27px;line-height: 26px;}
.CRselectBoxOptions {background: #FFFFFF;border: 1px solid #a5d5f0;margin-left: -1px;
overflow-y: auto;z-index: 3;position: absolute;display: none;}
.v-select .CRselectBoxOptions{left: 0;	right: 0}
.CRselectBoxOptions a{display: block;line-height: 28px;background: #fff;overflow: hidden;white-space: nowrap}
.v-select .CRselectBoxOptions a{padding-left:7px;}
.CRselectBoxOptions a:hover{background-color: #cee5f2;}
.CRselectBoxOptions a.selected{background-color: #cee5f2;}
.CRselectBox a{outline: none;text-decoration:none;}
.CRselectBox a:focus {outline: none; text-decoration:none;} 
.login-4 .r-2{float: right;
width: 380px;}
.login-4 .carry-out{text-align: center;padding-top: 136px;}