<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">



	<welcome-file-list>
		<welcome-file>/jsp/topic/index.jsp</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>so.xunta.user.listener.MyUserloginStateListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>test1</servlet-name>
		<servlet-class>so.xunta.servlet.test1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test1</servlet-name>
		<url-pattern>/test1</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TopicHistory</servlet-name>
		<servlet-class>so.xunta.servlet.TopicHistory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TopicHistory</servlet-name>
		<url-pattern>/TopicHistoryMessage/test</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>weiboLogin</servlet-name>
		<servlet-class>so.xunta.servlet.WeiboLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>weiboLogin</servlet-name>
		<url-pattern>/servlet/weiboLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>local_login</servlet-name>
		<servlet-class>so.xunta.servlet.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>local_login</servlet-name>
		<url-pattern>/servlet/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>register_validate_code</servlet-name>
		<servlet-class>so.xunta.servlet.ValidateCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>register_validate_code</servlet-name>
		<url-pattern>/servlet/validateCodeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>so.xunta.servlet.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/servlet/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>topic_service</servlet-name>
		<servlet-class>so.xunta.topic.controller.TopicService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>topic_service</servlet-name>
		<url-pattern>/servlet/topic_service</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>authorization</servlet-name>
		<servlet-class>so.xunta.servlet.Authorization</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>authorization</servlet-name>
		<url-pattern>/servlet/authorization</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>qq_login</servlet-name>
		<servlet-class>so.xunta.servlet.QQLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>qq_login</servlet-name>
		<url-pattern>/servlet/qq_login</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>RequestFilter</filter-name>
		<filter-class>so.xunta.filter.RequestFilter</filter-class>
		<init-param>
			<param-name>exclude1</param-name>
			<param-value>/servlet/login</param-value>
		</init-param>
		<init-param>
			<param-name>exclude2</param-name>
			<param-value>/servlet/register</param-value>
		</init-param>
		<init-param>
			<param-name>exclude3</param-name>
			<param-value>/jsp/xunta_user/login.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>exclude4</param-name>
			<param-value>/jsp/xunta_user/register.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>exclude5</param-name>
			<param-value>/servlet/validateCodeServlet</param-value>
		</init-param>
		<init-param>
			<param-name>exclude6</param-name>
			<param-value>/WEB-INF/404.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>exclude7</param-name>
			<param-value>/WEB-INF/500.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>exclude8</param-name>
			<param-value>/servlet/authorization</param-value>
		</init-param>
		<init-param>
			<param-name>exclude9</param-name>
			<param-value>/jsp/xunta_user/*.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>exclude10</param-name>
			<param-value>/servlet/qq_login</param-value>
		</init-param>
		<init-param>
			<param-name>exclude11</param-name>
			<param-value>/servlet/weiboLogin</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>RequestFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RequestFilter</filter-name>
		<url-pattern>/servlet/*</url-pattern>
	</filter-mapping>
	<session-config>
		<session-timeout>43200</session-timeout>
	</session-config>

</web-app>