/*rest*/
body{line-height:1.4;color:#38383c;font-family:'Microsoft YaHei','SimSun',arial;font-size:12px;background:white}
input,textarea,select,button{font-size:100%;font-family:inherit;color:inherit;}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form,dd,dl{margin:0}
h4,h5,h6{font-size:1em}
ul,ol{padding-left:0;list-style-type:none}
a img{border:0}
img{border:0}
a{color:#38383c;text-decoration:none}
a:hover{color:#05376c;text-decoration:none}
table{border-collapse:collapse;border-spacing:0}
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
/*public*/
.tri{height:0;width:0;display:inline-block;cursor:pointer;overflow:hidden;font-size:0;margin-left:1px;-webkit-transition:-webkit-transform .2s ease-in;-webkit-backface-visibility:hidden;border-style:solid;border-color:transparent;border-width:5px}
.trib{border-top-color:#a0a0a0}/*下三角(body)*/
/*icon script*/
.header .logo a,.form .check,.form .radio i,.CRselectBox .tri-v{background-image:url(../images/icon.png);background-repeat:no-repeat;display:inline-block}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.header .logo a{letter-spacing:-1em;overflow:hidden}
.header .logo a:first-letter{margin-left:-20em}/*隐藏文本*/
.talk-list .name,.rec-topic-list .name,.topic-box .title h3,.talk-list .signature{white-space:nowrap;text-overflow:ellipsis;overflow:hidden}/*超出显点*/
.form .load,.form .enter,.nav a,.nav li.back,.rec-topic-list li{-webkit-transition:all .3s;transition:all .3s}
/*Form*/
.form .enter{width: 96px;background-color: #f9b13e;border-radius: 10px;text-align: center;line-height: 32px;font-size: 16px;}
.form .enter:hover{background-color: #EAA73B;}
.form .disabled{color:#acacac!important; border-color:#acacac!important; text-shadow:1px 1px #fff!important; outline:0!important; cursor:default!important; pointer-events:none;}
.form .disabled:hover{text-decoration:none!important;}
.form .load{font-size: 18px;height: 48px;text-align: center;border-radius: 10px;width: 494px;border:none;cursor: pointer;clear: both;background-color: #f3f3f3}
.form .load img{width: 22px;vertical-align: -3px;margin-right: 10px;}
.form .loading{background-image:url(../images/loading.gif);background-repeat:no-repeat;background-position:163px center }
.form .load:hover{background-color: #fff}
.form .cbox{position: relative;vertical-align: -3px;}
.form .check{width: 20px;height: 20px;background-position: -4px -4px;margin-right: 8px;vertical-align: -4px;}
.form .checked{position: absolute;left: 2px;top: -1px;color: #909090;display: none;}
.form .btn-a,.form .btn-b{font-size: 18px;color: #4a4a4d;background-color: #faa832;border:none;}
.form .dt-b{width:80px;position: absolute;text-align: right;font-size: 18px;margin-top: 6px;}
.form .dd-b{margin-left:85px;}
.form .text-d{height: 40px;*line-height: 40px;border:none;background-color: #fff;border-radius: 5px;text-indent:24px;font-size: 16px;width: 100%;}
.form .btn-a{height: 46px;border-radius: 46px;}
.form .btn-b{height: 34px;border-radius: 34px;}
.form .tarea{border:none;width: 100%;border-radius: 5px;  resize: none;padding: 10px 24px;font-size: 16px;  line-height: 26px;}
.form .text-b{height: 46px;*line-height: 46px;padding: 0;border-radius: 46px;border:none;text-indent: 5.6em;}
.form .wta{width: 300px;}
.form .wtb{width: 220px;}
.form .label-a{position: absolute;height: 30px;padding-right: 10px;border-right: 1px solid #f3ecec;top:12px;left:20px;}
/*lib*/
.dn{display:none;}.mr5{margin-right: 5px;}.tr{text-align: right;}.mt3{margin-top: 3px;}.mb40{margin-bottom: 40px;}.tc{text-align: center;}.g6{color: #666;}.g9{color:#999}.mt20{margin-top:20px; }.fa{font-family: Arial;}.mb20{margin-bottom: 20px;}.mb10{margin-bottom: 10px;}.w280{width: 280px;}.auto{margin-left:auto;margin-right: auto;}.orenge{color: #fe713f}.l{float: left;}.r{float: right;}.f16{font-size: 16px}.f14{font-size: 14px}.mr15{margin-right: 15px;}.mr20{margin-right: 20px;}.lh34{line-height: 34px;}.ml5{margin-left: 5px;}.pt14{padding-top: 15px;}.ml20{margin-left: 20px;}.pt10{padding-top: 10px;}.mr50{margin-right: 50px;}.red{color: #e31e48}.f18{font-size: 18px}.pt5{padding-top: 5px;}.w80{width: 80px;}.vh{visibility: hidden;}
.fix:after {display:table;content:'';clear:both}/*清除浮动*/

/*通顶*/
.header{height:120px;background-color: #37383d;color:#eaeaea;min-width: 1254px;}
.header a{color:#eaeaea}
.header .logo{float: left;margin: 40px 54px 0 54px}
.header .logo a{width: 120px;height: 44px;background-position: -170px -13px}
.header .search{width: 286px;height: 40px;border-radius: 40px;background-color: #fff;position: relative;box-shadow:0 0 3px #37383d inset ;float: left;margin-top: 43px;margin-right: 104px;}
.header .search .text{height: 40px;background: transparent;border:none;padding-top: 0;padding-bottom: 0;text-indent:20px;width: 242px;color:#38383c;font-size: 14px;line-height: 40px \9;}
.header .search:after{content: "";height: 22px;position: absolute;border-left:1px solid #9f9fa1;top:10px;left:242px;}
.header .search .submit{background:none;border:none;color: #616161;font-size: 28px;
position: absolute;padding: 0;height: 40px;width: 44px;letter-spacing: 7px;line-height: 46px;cursor: pointer;}
.nav{float: left;margin-top: 44px;margin-right: 60px;}
.nav ul{position:relative;}
.nav ul:hover li.back{display: block;}
.nav li{float: left;width: 120px;height: 73px;}
.nav li:hover a,.nav .current a{color: #ff9600}
.nav a{font-size:20px;width: 120px;text-shadow: 0 0;display: inline-block;height: inherit;position:relative; z-index:3;text-indent: 25px;}
.nav li.back{border-bottom:3px solid #ff9600; position:absolute; z-index:2;display: none;}
.header .user{font-size: 20px;float: left;margin-top:45px;width: 216px;}
.header .user .admin:after{content: "";height:18px;border-left:1px solid #8f8f8f;display: inline-block;
margin: 0 3px 0 6px;
vertical-align: -2px}
.header .h{position: relative;float: left;top: -13px;margin-right: 20px;margin-left: 40px;color: #fff}
.header .user-pic{width: 50px;height: 50px;border-radius: 50px;overflow: hidden;display: inline-block;position: relative;
z-index: 3;}
.header .h .grade{font-size: 12px;position: absolute;z-index:3;
background-color: #38383c;
color: #ff9600;
border-radius: 5px;
padding: 0 5px;
box-shadow: 1px 1px 3px #000000;
top: 35px;
left: 29px;}
.header .user-pic img{width: 50px;height: 50px;}
.header .h .pop{position: absolute;font-size: 12px;z-index: 1;padding-bottom: 9px;top: 62px;display: none;}
.header .user-area .pop{right: 0;}
.header .news-area .pop{left:10px;}
.header .menu-list{border-top:1px solid #515154;}
.header .menu-list a{line-height: 30px;white-space: nowrap;padding: 0 15px;border-bottom: 1px solid #515154;display: block;}
.header .h .pop .link{position: absolute;height:40px;
top: -40px;background-color: #38383c;box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.51);z-index: 1}
.header .user-area .pop .link{right: 0;width: 50px;}
.header .news-area .pop .link{left:0;width: 44px;}
.header .t{position: relative;border-radius: 5px;background-color: #38383c;overflow: hidden;box-shadow: 0 0 3px rgba(0, 0, 0, 0.51);padding-bottom: 9px;}
.header .user-area .t{border-top-right-radius:inherit}
.header .news-area .t{border-top-left-radius:inherit;width: 180px}
.header .menu-list i{margin-right:3px;}
.header .t .name{font-size: 14px;color: #ff9600;text-align: center;line-height: 30px;padding-top: 5px;}
.header .menu-list a:hover{color: #ff9600;background-color: #2d2d30}
.header .tab-list{border-bottom: 1px solid #515154}
.header .tab-list li{float: left;width: 50%;}
.news-list{height:200px;overflow-y: auto;}
.news-list .panel{border-bottom: 1px solid #515154;padding:6px 7px 5px}
.news-list .opera{line-height: 22px}
.news-list .opera .btn{float: left;width: 50%;text-align: center;}
.news-list .opera .btn .yes{background-color: #1f1f23;border:none;border-radius: 3px;height: 22px;padding-left: 12px;padding-right: 12px;}
.news-list .opera .btn .no{background: none;border:none;height: 22px}
.news-list time{color: #C8C8C8;line-height:2em}
.news-list .txt{line-height: 1.6em;}
.header .tab-list a{display: block;line-height: 30px;text-align: center;}
.header .tab-list .tab-on{color:#ff9600;background-color: #2d2d30}
.header .tab-list a:hover{background-color:#2E2E30}
.header .tab-list .new{color:#e31e48;font-size:46px;font-style: normal;  position: absolute;
  top: -8px;
  margin-left: -2px;}
.header .h:hover .pop{display: block;}
.header .news{
margin-left: 8px;position: absolute;margin-top: -8px;z-index: 2}
.header .news i{font-size:50px;}
.header .news .dunk,.rec-topic-list .num{height: 22px;position: absolute;border-radius: 22px;min-width: 16px;background-color: #e31e48;font-size: 14px;line-height: 22px;padding-left: 3px;
padding-right: 3px;
text-align: center;}
.header .news .dunk{top: 10px;left: 36px;font-style: normal;}
.content{background:url(../images/page_bg.png) #ecebe7 no-repeat top center fixed;}
.main,.header .head{width: 1254px;margin-left: auto;margin-right: auto;}
.main,.pannel{background-color:rgba(237, 236, 232, 0.82);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1edece8', endColorstr='#d1edece8',GradientType=0 );}
/*我发起的话题*/
.top-memory .tab-menu{line-height: 50px;background-color:#f5f5f5;font-size: 20px;border-radius:10px;width:500px;margin-left: auto;margin-right:auto;overflow: hidden;margin-bottom: 60px;}
.top-memory .tab-menu li{float:left;width: 50%;text-align: center;}
.top-memory .tab-menu a{display: block;text-shadow: 0px 0px;}
.top-memory .tab-menu .selected{background-color: #f9b943}
.top-memory{padding-top:50px;}
.talk-list{padding: 0 116px 100px;}
.talk-list .column{width: 494px;}
.talk-list .tp{border-radius: 10px;background-color: #f3f3f3;font-size: 14px;margin-bottom: 30px;}
.talk-list .hd{padding-left:20px;padding-right:20px;}
.talk-list  .nc,.talk-list .pate .area{margin-left: 52px;font-size: 18px;line-height: 66px;  text-shadow: 0px 0px; }
.talk-list .hd{position: relative;  padding-bottom:20px;}

.talk-list .name{font-size: 18px;text-shadow: 0px 0px;}
.talk-list .pate .area{line-height: 66px;}
.talk-list .bd{border:1px dashed #b6b6b6;border-radius:10px;padding: 10px 16px 10px 8px;margin-left:10px;margin-right: 10px;}
.talk-list  .launch .tp{padding-bottom: 15px}
.talk-list .user-pic{width:41px;height: 41px;display: inline-block;border-radius: 42px;overflow: hidden;border:1px solid #d2d2d4;position: absolute;}
.talk-list .user-pic{top:10px;}
.talk-list .user-pic img{width: 100%;height: 100%}
.talk-list .txt{color:#59595a;line-height: 1.7em;}
.talk-list .txt .ago{color:#38383c;margin-left: 5px;font-style: normal;}
.talk-list .pate .txt{margin-left:5px;}
.talk-list .last-time{text-align: right;}
.talk-list .last-time time,.talk-list .hd .hour{color: #df1d47}
.talk-list .pate .area{}
.talk-list .hd .hour{font-weight: normal;}
.talk-list .hd time{font-size: 12px;color: #38383c;}
.talk-list .operating{padding:15px 20px;}

.talk-list .enter{position: absolute;right:20px;top:10px;}

.talk-list .launch .load{display: block;margin-left: auto;margin-right: auto;}
.talk-list .odd{float: left;margin-right: 100px;}
.talk-list .even{float:right;margin-left: 100px;}
.talk-list .pate .date{position: absolute;top:-3px;z-index: 1;white-space: nowrap;background: url(../images/dot.png) no-repeat}
.talk-list .pate .odd .date{left: 505px;padding-left: 20px;background-position: 0 3px}
.talk-list .pate .even .date{right: 505px;text-align: right;padding-right: 20px;background-position:right 3px;}
.talk-list .pate .date time{font-size: 18px}
.talk-list .pate .tp{padding-bottom: 10px;position: relative;}
.talk-list .pate .date .man{font-size: 16px;}
.talk-list .pate{position: relative;padding-bottom: 105px;}
.talk-list .pate:after{content:"";width:2px;position: absolute;top:0;height: 100%;left:510px;background: #777777;
background: -moz-linear-gradient(top,  #777777 0%, #e4e4e4 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777777), color-stop(100%,#e4e4e4));
background: -webkit-linear-gradient(top,  #777777 0%,#e4e4e4 100%);
background: -o-linear-gradient(top,  #777777 0%,#e4e4e4 100%);
background: -ms-linear-gradient(top,  #777777 0%,#e4e4e4 100%);
background: linear-gradient(to bottom,  #777777 0%,#e4e4e4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#e4e4e4',GradientType=0 );
}
.talk-list .pate .bt{background: url(../images/dot_last.png) no-repeat right 0;width: 517px;z-index: 1;position: relative}
.talk-list .pate .last-1 .date{background-image: url(../images/dot_last_1.png)}
.talk-list .pate .last-2 .date{background-image: url(../images/dot_last_2.png)}
.talk-list .pate .last-3 .date{background-image: url(../images/dot_last_3.png)}
.talk-list .pate .last-4 .date{background-image: url(../images/dot_last_4.png)}
.talk-list .pate .last-5 .date{background-image: url(../images/dot_last_5.png)}
/*登录*/
.login{background: url(../images/login_bg.jpg) no-repeat center;height: 613px;margin-top: 65px;box-shadow: 0 0 65px rgba(0, 0, 0, 0.36);margin-bottom: 65px;position: relative;}
.dialog-box{background-color: rgba(250, 250, 250, 0.94);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0fafafa', endColorstr='#f0fafafa',GradientType=0 );position: absolute;left:0;right: 0;margin: auto;top:112px;border-radius: 10px;padding: 30px 0 37px}
.dialog-box .close{background-color:rgba(60, 60, 60, 0.5);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#803c3c3c', endColorstr='#803c3c3c',GradientType=0 );color: #fdfdfd;font-size:40px;position: absolute;top:0;right:0;width: 64px;height: 50px;border-bottom-left-radius:10px;text-align: center;line-height: 50px}
.dialog-box h3{font-size: 18px;font-weight: normal;text-shadow: 0 0;}
.login-1{width: 420px;}
.login-1 h3{margin-left: 44px;}
.quick-login{font-size: 18px;text-align: justify;width: 310px;margin: 45px auto 47px}
.quick-login li{display: inline-block;text-align: center;width: 82px;}
.quick-login  a img{width: 82px;height: 82px;margin-bottom: 8px;}
.quick-login .justify-fix{height:0; padding:0; overflow:hidden}
.login-2{padding-left: 70px;width:340px;float:left}
.login-2 .item{position: relative;font-size: 16px;}
.login-2 .item-b{font-size: 14px;}
.login-2 .first{margin-bottom: 18px;}
.login-2 h3{margin-bottom:25px;margin-left:10px;}
.d2{width: 830px;}
.login-2 .item-b{margin-bottom: 35px;}
.login-2 .item-b .cbox{margin-left: 15px;position: absolute;}
.login-2 .item-b .a1{margin-left:200px;}
.a1{text-decoration: underline;}
.a1:hover{text-decoration: none}
.login-3,.login-4{padding-left: 45px;}
.login-3 .cont{background-color: #fff;width: 575px;height: 100px;border-radius: 5px;padding:5px 10px;text-align:justify;margin-right: 20px;	}
.login-3 h3,.login-4 h3{margin-bottom: 25px;}
.login-3 .interests{position: relative;margin-bottom: 35px;}
.login-3 .interests .placeholder{font-size: 14px;color: #9e9d9c;top: 5px;
position: absolute;
left: 10px;}
.form .dt{font-size: 16px;position: absolute;}
.form .dd{margin-left: 68px;font-size: 16px;}
.interests .tag{font-size: 14px;display: inline-block;border:1px solid #ed9821;line-height: 24px;cursor: default;color: #9e9d9c;padding:0 28px 0 10px;position: relative;margin-bottom:10px;}
.interests .tag .del{position: absolute;border:1px solid #949494;width: 14px;height: 14px;line-height: 14px;font-size: 10px;text-align: center;top:-1px;right:-1px;}
.interests .tag .del:hover{border-color:#ed9821;color: #ed9821}
.interests .tag .add{font-size: 16px;color: #ed9821;font-size:24px;font-family: 'SimSun';margin-right: 7px;vertical-align: -3px;margin-left: -5px;}
.tag-list{width: 600px;}
.tag-list .tag{padding-right: 14px;cursor: pointer;margin-right: 5px;}
.form .text-c{height: 34px;*line-height: 34px;border-radius:34px;border:none;text-indent:15px;}
.form .hove-code{font-size: 16px;margin-left: 5px;}
.login-4 .dt{margin-top: 6px;}
.login-4 .item{margin-bottom: 12px;}
.form .btn-d,.form .btn-e{height: 34px;border-radius: 34px;border:1px solid #ffbf63;font-size: 18px;background: transparent;}
.form .btn-e{border-color:#bcbcbc;}
.login-4 .opear{padding: 25px 0 0 86px;}
.login-4 .r{width: 320px;}
.login-4 .r .tip{border:1px solid #c6c6c6;border-radius:10px;display: inline-block;padding: 8px 5px;line-height: 1.7em;margin-bottom: 155px;font-size: 14px;}
.login-4 .pic-area{display: inline-block;width: 70px;height: 70px;border-radius: 70px;background-color: #fff;vertical-align: middle;overflow: hidden;margin-right: 30px;margin-left: 20px;}
.login-4 .dtt{margin-top: 24px;}
.form .radio i{width:14px;height: 14px;background-position: -37px -9px;margin-right: 8px;vertical-align: -2px;}
.form .checked-r i{background-position: -65px -9px;}
.form .d-select{display: inline-block;border-radius: 5px;background: url(../images/select_bg.png) #fff no-repeat right 5px;height: 26px;overflow: hidden;vertical-align: middle;}
.form .d-select select{height: 27px;opacity: 0;  filter: alpha(opacity=0);}
.form .d-select label{position: absolute;top: 2px;
  left: 5px;}
.form .d-select .ter{display: inline-block;overflow: hidden;position: relative;min-width: 20px;height: 100%}
.CRselectBox{cursor:pointer;position: relative;border-radius:5px;background-color: #fff;}
.v-select{display:inline-block;vertical-align: -8px;}
.v-select .CRselectBox{display: inline-block;vertical-align: -6px;}
.CRselectBox .tri-v{position: absolute;width: 17px;height: 16px;background-position: -94px -9px;top: 5px;
right: 4px;}
.CRselectBoxHover{background-color:#FFFFFF;}
.CRselectBox a.CRselectValue {display:block;white-space:nowrap;	overflow:hidden; }
.v-select .CRselectBox a.CRselectValue{padding-left: 7px;padding-right: 27px;line-height: 26px;}
.CRselectBoxOptions {background: #FFFFFF;border: 1px solid #a5d5f0;margin-left: -1px;
overflow-y: auto;z-index: 3;position: absolute;display: none;}
.v-select .CRselectBoxOptions{left: 0;	right: 0}
.CRselectBoxOptions a{display: block;line-height: 28px;background: #fff;overflow: hidden;white-space: nowrap}
.v-select .CRselectBoxOptions a{padding-left:7px;}
.CRselectBoxOptions a:hover{background-color: #cee5f2;}
.CRselectBoxOptions a.selected{background-color: #cee5f2;}
.CRselectBox a{outline: none;text-decoration:none;}
.CRselectBox a:focus {outline: none; text-decoration:none;} 
.login-4 .r-2{float: right;
width: 380px;}
.login-4 .carry-out{text-align: center;padding-top: 136px;}
/*话题推荐*/
.topic-item{position: absolute;text-align: center;  }
.topic-item .pic{width: 80px;height: 80px;border-radius:80px;overflow: hidden;border:3px solid #f4fdff;box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);margin-bottom: 5px;}
.topic-item .pic img{width:100%;width: 100%;}
.topic-item .cont{padding: 10px;background-color: #f5f5f5;border-radius: 10px;border:3px solid #f4fdff;font-size: 14px;box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.41);position: absolute;top: -10px;

white-space: nowrap;}
.topic-item .info{font-size: 13px;}
.topic-item .info .man,.topic-item .info .woman{color: #00A7FF;vertical-align: 3px;margin-right: 3px;vertical-align: 1px;}
.topic-item .info .woman{color: #f0968c;}
.topic-item .area{color: #999}
.topic-item .cont:after{content:" ";width: 15px;height: 20px;position: absolute;
}
.topic-list{position: relative;}
.topic-list .right .cont{left:74px;border-bottom-left-radius:inherit;}
.topic-list .right .cont:after{background-image: url(../images/topic-item_tri.png);top: 39px;
left: -3px;}
.topic-list .left .cont{right:74px;border-bottom-right-radius:inherit;}
.topic-list .left .cont:after{background-image: url(../images/topic-item_tri_left.png);top: 40px;
right: -4px;}
.page-topic{font-size: 26px;position: absolute;left:116px;bottom:30px;}
.page-topic .iconfont{font-size:60px;vertical-align: middle;}
.page-topic a:hover{color: #fe9a0c;}
.page-topic .cur{display: inline-block;width: 635px;text-align: center;vertical-align: middle;}
    /*聊天框*/
.topic-box{position: fixed;bottom:0;right: 0;height: 620px;z-index: 999;}
.topic-box .left{width: 150px;background-color: #37383d;height: 100%;float: left;overflow-y:auto;}
.rec-topic-list{overflow: hidden;margin-bottom: -1px;}
.rec-topic-list .name{color: #e2e2e2;font-size: 14px;}
.rec-topic-list li{padding:0 45px 0 15px ;line-height: 48px;border-bottom:1px solid #37383d;position: relative;background-color: #353536}
.rec-topic-list li.cur,.rec-topic-list li:hover{background-color: #2778ad}
.rec-topic-list .num{color: #fff;top: 5px;left: 3px;}
.rec-topic-list .close{position: absolute;background-color: #858585;border-radius:22px; width: 22px;height: 22px;top:10px;right:10px;line-height: 22px;
text-align: center;font-size: 15px;
font-weight: bold;}
.rec-topic-list .close:hover{color:#FFF;background-color: #e31e48}
.topic-box .center{float: left;width: 465px}
.topic-box .title{height: 48px;background-color: #37383d;color: #fff;padding: 0 54px 0 65px;position: relative;}
.topic-box .title h3{font-size: 16px;font-weight: normal;line-height: 48px;}
.topic-box .title .pic{border-radius: 50%;height: 35px;width: 35px;overflow: hidden;position: absolute;left: 10px;
top: 3px;}
.topic-box .title .pic img{width: 100%;height: 100%;}
.topic-box .title .close{position: absolute;top:3px;right: 24px;color: #fff;font-size: 30px;top: 0;bottom: 0;width: 70px;text-align: center;background-color: #1f2023;right: 0;line-height: 48px}
.topic-box .title .close:hover{color: #fe9600}
.chat-box{height: 380px;background-color: #f6fbff;overflow-y:auto;}
.topic-box .dec{border:1px solid #eee;height: 66px;background-color: #f6f6f6;}
.topic-box .dec .txt{line-height: 1.6em;padding: 8px 10px;color: #4e4e4f}
.topic-box .dec .dt{font-size: 14px;font-weight: bold;}
.chat-box{padding: 15px;font-size: 14px;}
.chat-box .user-pic,.topic-box .right .user-pic {width: 44px;height: 44px;border-radius: 44px;overflow: hidden;}
.chat-box .user-pic{position: absolute;top:0;right:0;}
.chat-box .user-pic img,.topic-box .right .user-pic img{width: 100%;height: 100%;}
.chat-box .user{position: relative;margin-bottom: 10px;}
.chat-box .detail{padding: 6px 14px;box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
border-radius: 8px;display: inline-block;margin-top: 8px;}
.chat-box .my{text-align: right;}
.chat-box .my .detail{margin-right: 52px;background-color:#f1e1ff}
.chat-box .other .user-pic{top:0;}
.chat-box .other .detail{margin-left: 52px;background-color:#f5fbff}
.chat-box .other .user-pic{left:0;}
.chat-box .system{color: #868686;text-align: center;}
.send-box {height: 120px;border-top:1px solid #eee;background-color:#f6f6f6;padding: 0 15px;position: relative;}
.send-box textarea{border:none;width: 100%;resize: none;font-size: 14px;outline: none;background-color:#f6f6f6;}
.send-box .send-btn{background-color: #9d9d9d;color: #fff;border:none;border-radius: 5px; font-size: 38px;height: 40px;width: 70px;position: absolute;right: 15px}
.topic-box .toggle{width: 25px;background-color: #3c3d43;height: 100%;float: left;position: relative;}
.topic-box .toggle i{position: absolute;color: #fff;font-size: 30px;left:0;right: 0;top:0;bottom:0;margin: auto;height: 40px;cursor: default;}
.topic-box .right{width: 82px;height: 100%;float: left;background-color: #37383d;color: #ecebe7;text-align: center;position: relative;overflow-y: auto;}
.topic-box .right .user-pic{display: inline-block;}
.topic-box .right h4{font-size: 16px;margin-bottom: 5px;font-weight:normal;}
.user-list li{border-bottom:1px solid #525256;padding: 15px 10px 5px;}
/**/
.confirm-box{border-radius:8px;background-color: #37383d;color: #fff;position: absolute;top:170px;right: 200px;width: 400px;z-index:1000}
.confirm-box .cont{padding: 30px 45px 25px;font-size: 18px;}
.form .btn-c{height: 24px;border-radius: 5px;background:none;border:1px solid #cbcbcb;cursor: pointer;padding: 0 30px;font-size: 16px;}
.form .btn-c:hover{border-color: #ff9600}
.confirm-box .close{width: 28px;height: 28px;position: absolute;top:12px;right: 12px;background-color:#7d7d7d;border-radius: 50%;line-height: 28px;text-align: center;color:#37383d;font-weight: bold;}
.confirm-box .close:hover{color:#fff;background-color:#e31e48}
.confirm-box .btn-area{padding-top: 50px;text-align: center;}
.mintopic-box{border-radius: 5px;background-color: #37383d;line-height: 40px;position: absolute;bottom:0;color: #f6f6f6;padding-left:15px;right:0;font-size: 16px;height: 40px;overflow: hidden;}
.mintopic-box .num{background-color: #e31e48;font-size: 22px;border-radius: 5px;padding: 0 10px;vertical-align: middle;margin: 0 25px   }
.mintopic-box .unfold{color: #fff;display: inline-block;width: 55px;height: 100%;background-color: #1f2023;text-align: center;font-size: 30px;vertical-align: middle;}
.mintopic-box .unfold:hover{color: #ff9600}
/*发起话题*/
.spons-topic{padding-top: 60px;}
.spons-topic h2,.spons-topic .title{font-size: 20px;color: #37383d;font-weight: normal;text-shadow: 0 0 #000;margin-bottom: 30px;}
.spons-topic h2{text-align: center;}
.spons-topic form{width: 1014px;margin: 0 auto 95px}
.spons-topic form .item{position: relative;margin-bottom: 10px;}
.spons-topic form .tip{position: absolute;font-size: 16px;color: #7a7a7a;right: 90px;top:9px}
.spons-topic form .cont{padding-right: 50px;}
.spons-topic form .detail .tip{bottom:15px;top:inherit;}
.form .btn-f{height: 36px;*line-height:36px;padding: 0 37px;border-radius: 3px;background-color:#f8ad3c;border:none;font-size: 18px;color: #37383d;cursor: pointer;}
.spons-topic .form .opear{text-align: right;padding-top: 15px;}
.most-man{width: 1114px;margin: 0 auto;}
.most-man .talk-list .user-pic{width: 60px;height: 60px;}
.most-man .talk-list .nc{margin-left: 0;line-height: 30px;}
.most-man .talk-list .info{margin-left: 72px;padding-top: 5px; }
.talk-list .signature{font-size: 14px;margin-bottom: 5px;  margin-right: 105px;}
.tag-lists{display: inline-block;margin-bottom: 10px;}
.tag-lists li{display: inline-block;line-height: 20px;padding: 0 14px;border:1px solid #ddd;}
.tag-lists li:first-of-type{border-color:#2eaae6;color: #2eaae6}
.tag-lists li:nth-child(2){border-color:#4ecf7f;color: #4ecf7f}
.most-man  .talk-list .tp{background-color: #fff;width: 546px;float: left;}
.most-man  .talk-list .even-b{margin-right: 20px;}
.most-man .mark{color: #f9b03d;font-size: 20px}
.most-man .talk-list{padding: 0;}
.most-man .talk-list .enter{border-radius:3px}
.talk-list .other{border-top:1px dashed #edece8;padding-top: 7px;overflow: hidden;}
.talk-list .other .num{margin-left:44px;color: #e31e48}
.talk-list .other li{float: left;width: 50%;border-right: 1px solid #d9d9d9;margin-right:  -1px;}
/*-webkit- 内核 滚动条*/
/* 设置滚动条的样式 */
::-webkit-scrollbar {width:6px;background-color: #202022;padding: 0 10px}
/* 滚动槽 */
::-webkit-scrollbar-track {margin: 2px}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {border-radius: 2px; background: #37383d;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);}
::-webkit-scrollbar-thumb:window-inactive {background: rgba(255,0,0,0.4);}